@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    color: #18284d;
}

.underline_title {
    border-bottom: 3px solid #008c9e;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.226);
    transition: 0.1s all;
}

.page-content {
    padding-top: 110px;
}

header.scrolled .header-top {
    margin-top: -30px; 
}

.header-top {
    background-color: #0f3076;
    color: #fff;
    height: 30px;
    padding: 10px 50px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.1s all;
}

.header-top span {
    color: #fff;
}

.header-top i {
    margin-right: 7px;
}

.header-bottom {
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo img {
    height: 70px;
    width: 130px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul a {
    padding-bottom: 5px;
    color: #213a4e;
    font-weight: 500;
}

.header-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-btn {
    padding: 10px 20px;
    background-color: #355979;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
}

.menu-bar {
    font-size: 30px;
    color: #21234e;
    display: none;
    cursor: pointer;
}

/* Whatsapp Floating Button */

.whatsapp-button {
    width: 50px;
    height: 50px;
    bottom: 90px;
    right: 20px;
    position: fixed;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s all;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 100%;
    height: 100%;
}

@media (max-width:1000px) {
    nav ul {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.226);
        height: 300px;
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #fff;
        text-align: center;
        gap: 0;
        overflow: hidden;
        transition: 0.3s all;
    }

    nav ul li {
        padding: 10px;
    }

    .menu-bar {
        display: block;
    }
}

@media (max-width:600px) {
    .header-top {
        font-size: 11px;
        padding: 10px 20px;
    } 

    .header-buttons {
        position: absolute;
        top: 330px;
        left: 0;
        right: 0;
        justify-content: center;
        overflow: hidden;
    }

    /* .whatsapp-button {
        width: 50px;
        height: 50px;
        bottom: 30px;
        right: 20px;
    }  */
}

/* Footer */

footer {
    background-color: #c0c0c0;
    color: #666666;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    gap: 30px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}

.logo-footer img {
    height: 100px;
    width: 170px;
    margin-bottom: 10px;
}

.footer-section h3 {
    color: #18284d;
    border-bottom: 3px solid #2c617e;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 1.2em;
    display: inline-block;
}

.contact > p,
.footer-section ul {
    font-size: 15px;
    line-height: 2.2;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 2px;
}

.footer-section ul li a {
    color: #666666;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #0f3076;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.social-icons i {
    background-color: #0f3076;
    color: #fff;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    transition: 0.3s ease all;
}

.social-icons i:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.newsletter form {
    margin-top: 10px;
}

.newsletter form input {
    height: 30px;
    border: none;
    outline: none; 
    border-radius: 25px 0 0 25px;
    padding: 10px 20px;
    margin-right: -3px;
}

.newsletter form button {
    height: 30px;
    border-radius: 0 25px 25px 0;
    border: none;
    padding: 7px;
    background-color: #6a6c72;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s all;
}

.newsletter form button:hover {
    background-color: #18284d;
}

.footer-bottom {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    font-size: 0.8em;
    color: #666666;
}

.footer-bottom > a {
    color: #666666;
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        min-width: unset;
        width: 100%;
    }

    .social-icons {
        justify-content: center;
    }
}